@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-schedule/styles/material.css';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	background: linear-gradient(
		284deg,
		rgb(253 253 253) 0%,
		rgb(240 243 246) 100%
	);
	color: rgb(31, 31, 31);
}
.basic-container {
	width: 98%;
}
.grid-item-container {
	overflow-y: auto;
	border-radius: 8px;
	height: 100%;
}
.two-column-grid-parent {
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(2, 1fr);
}
.three-column-grid-parent {
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(3, 1fr);
}
.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}
span {
	font-size: 15px;
}
.auth-svg {
	font-size: 1.5rem;
	padding-right: 10px;
}
.geo-auto-complete::placeholder {
	font-size: 12px;
}
.verified {
	color: limegreen;
	font-size: 4rem;
	margin-top: -25px;
}
.google-icon {
	font-size: 4rem;
}

/* document styling */
.title {
	border-bottom: 1px solid #e1e1e1;

	font-weight: 500;
	padding: 15px 0px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px !important;
}

.billItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toolBar {
	margin-top: 50px;
}
