body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	background-color: #f5f5fc;
	color: rgb(31, 31, 31);
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}
span {
	font-size: 15px;
}
.auth-svg {
	font-size: 1.5rem;
	padding-right: 10px;
}

.verified {
	color: limegreen;
	font-size: 4rem;
	margin-top: -25px;
}
.google-icon {
	font-size: 4rem;
}

/* document styling */
.title {
	border-bottom: 1px solid #e1e1e1;

	font-weight: 500;
	padding: 15px 0px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px !important;
}

.billItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toolBar {
	margin-top: 50px;
}
