<!DOCTYPE html>
<html lang="en">
<head>
  <title>Verify Account</title>
</head>
<body>
  <h3>Verify your account</h3>
  <p>Hi <b>{{name}}</b>, thanks for registering an account with us.</p>
  <p>Please verify your account by clicking the link to <b><a href="{{link}}">Verify</a></b>
  your account</p>
  <p>Kindly note that this will only be valid for the next 15 minutes!</p>
</body>
</html>