.date-chooser-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    color: blue;
    margin-right: 20px;
    
}

.date-chooser-date {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid rgba(121, 121, 121, 0.26);
    border-top: 1px solid rgba(121, 121, 121, 0.26);
    
}

.date-chooser-date-input {
    border:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 11px;
    cursor: pointer;
}

.date-chooser-select {
    border: 1px solid rgba(121, 121, 121, 0.26);
    padding: 5px;
    min-width: 30px;
    font-weight: 700;
    color: rgb(75, 75, 75);
    background-color: transparent;
    cursor: pointer;
}
.date-chooser-select:hover {
    background-color: rgb(221, 221, 221);
}
.date-chooser-select-left {
    border-radius: 50% 0 0 50%;
}
.date-chooser-select-right {
    border-radius: 0 50% 50% 0;
}
