.drawer {
	background-color: rgba(0, 0, 0, 0.187);
	height: 100vh; 
	position: relative;
	z-index: 100;
  width: 100%;
}
.drawer-page {
	position: absolute;
	top: 43%;
	left: 45%;
	transform: translate(-50%, -50%);
	height: 75%;
	width: 60% !important;
	max-width: 90% !important;
	background-color: white;
	padding-top: 28px;
	border-radius: 4px;
	padding: 30px !important;
}
